@model IEnumerable<RaportareAjustajV2.UsBarModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h3>Salut @ViewBag.UserName !</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.IsAdmin == "True")
{
    <div>
        <p>Selectare perioada raportare in excel</p>
        <label for="from">From</label>
        <input type="text" id="from" name="from">
        <label for="to">to</label>
        <input type="text" id="to" name="to">
    </div>
    <p>
        <a id="downloadToExcel" asp-action="ExportToExcelAsync">Exporta in excel</a>
    </p>
}
<a id="btnSendMail" class="btn btn-default" asp-action="SendMailAsync">Trimite Mail</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataIntroducere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diametru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sarja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalitateOtel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StareMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarimeDefect3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarimeDefect2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa2Plus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarimeDefect2Plus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarimeDefect1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarimeDefectSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDiscontinuitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observatii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIntroducere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diametru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnizor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sarja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalitateOtel.Valoare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StareMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasa3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarimeDefect3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasa2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarimeDefect2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasa2Plus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarimeDefect2Plus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasa1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarimeDefect1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarimeDefectSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipDiscontinuitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observatii)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsBarModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsBarModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsBarModelId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@if (ViewBag.IsAdmin == "True")
{
    @*Section for UI Datepicker from Jquery*@
    @section JQueryUI {
        @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
        @*<link rel="stylesheet" href="/resources/demos/style.css">*@
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/js/datepickerJquery.js"></script>
    }
}
@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnSendMail").click(function () {
                alert("Ati trimis mail!");
            });

        });
    </script>
}