@model RaportareAjustajV2.NovafluxModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NovafluxModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataIntroducere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataIntroducere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataControl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataControl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diametru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diametru)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calitate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sarja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sarja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefectEtalon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefectEtalon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrBareConform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrBareConform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MasaConform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MasaConform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrBareNeConform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrBareNeConform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MasaNeConform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MasaNeConform)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NovafluxModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
